{{range $model, $fields := .}}
{{$normalModel := $model.Name}}
{{$self := $model.Self}}
{{$recv := (printf "(%s *%s)" $self $normalModel)}}
func {{$recv}} NotFoundErr() error {
    return sql.ErrNoRows
}

func {{$recv}} DuplicateValueErr(key string) error {
    return nil
}
{{end}}
